*.pyc
deepstream/out_crops/
deepstream/config/export
*.onnx
*.engine
deepstream/debug/*
data/debug/*
data/tmp/*
data/*
events.out.tfevents*
.env
Classifier*.png
*.pickle
KNN*.csv
*.pt
**/saved_models/**
**/tensorboard/**
**/output/*
ladder_dataset/*
ladder_dataset.zip
!data/fender/broken_samples.txt
!data/ladder/
!data/fender/
*.mp4
datadrive/**
deepstream/out_crops*/**
.gitmodules
*.etlt
*.engine